
<html>

  <head>

    <title><%= websiteDoc.get('subdomain') %> - Edit Website</title>

  </head>

  <body>

    <h1>Edit Website - <%= websiteDoc.get('subdomain') %></h1>

    <div class="url">
      <span id="url-protocol" class="url-protocol"></span><input id="url-subdomain" class="url-subdomain" placeholder="subdomain" value="<%= websiteDoc.get('subdomain') %>"/><span id="url-domain" class="url-domain"></span>
    </div>

    <br />
    <br />

    <button id="save" style="font-size: 20px;">Save</button>

    <div id="status" style="color: red; display: none;"></div>

    <br />
    <br />

    <div style="width: 100%;">
      <div style="float:left; width: 50%">
        <h1>Pages:</h1>

        <a class="create-page-link">Create Page</a>

        <ol class="page-list">
          <% pageDocs.forEach((pageDoc, index) => { %>
            <li class="page-item" data-page-label="<%= pageDoc.get('label') %>">
              <a class="edit-page-link" title="Edit"><%= pageDoc.get('label') %></a> &nbsp; | &nbsp;
              <a class="open-link" target="_blank" title="Open"><i class="material-icons">&#xe89e;</i></a> &nbsp; | &nbsp;
              <a href="javascript:void(0)" class="delete-page" data-id="<%= pageDoc.get('id') %>" title="Delete"><i class="material-icons">&#xE872;</i></a> 
              <span id="status-<%= pageDoc.get('id') %>" style="color: red; display: none;"></span>
            </li>
          <% }) %>
        </ol>
      </div>
      <div style="float:right; width: 50%">
        <h1>Snippets:</h1>

        <a class="create-snippet-link">Create Snippet</a>

        <ol class="snippet-list">
          <% snippetDocs.forEach((snippetDoc, index) => { %>
            <li class="snippet-item" data-snippet-label="<%= snippetDoc.get('label') %>">
              <a class="edit-snippet-link" href="/website/<%= websiteDoc.get('subdomain') %>/snippet/<%= snippetDoc.get('label') %>" title="Edit"><%= snippetDoc.get('label') %></a> &nbsp; | &nbsp;
              <a href="javascript:void(0)" class="delete-snippet" data-id="<%= snippetDoc.get('id') %>" title="Delete"><i class="material-icons">&#xE872;</i></a> 
              <span id="status-<%= snippetDoc.get('id') %>" style="color: red; display: none;"></span>
            </li>
          <% }) %>
        </ol>

      </div>
    </div>
    <div style="clear:both"></div>

    <a href="/websites">back</a>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script>

      var subdomain = '<%= websiteDoc.get("subdomain") %>'
      var websiteId = '<%= websiteDoc.get("id") %>'
      var $subdomain = $('#url-subdomain')
      var $protocol = $('#url-protocol')
      var $domain = $('#url-domain')
      var $saveButton = $('#save')
      var $status = $('#status')
      var $urlPrefix = $('#url-prefix')
      var $deletePage = $('.delete-page')
      var $pageItem = $('.page-item')
      var $createPageLink = $('.create-page-link')
      var $createSnippetLink = $('.create-snippet-link')
      var $editSnippetLink = $('.edit-snippet-link')
      var $deleteSnippet = $('.delete-snippet')

      $protocol.text(window.location.protocol + '//')
      $domain.text('.' + window.location.host)
      $createPageLink.attr('href', getCreatePageLink(subdomain))
      $createSnippetLink.attr('href', getCreateSnippetLink(subdomain))

      $saveButton.on('click', function (event) {
        saveWebsite().then(function () {
          window.location.href = '/websites'
        }).fail(function () {
          showStatus('error', 'Failed to save website')
        })
      })

      function saveWebsite () {
        return $.ajax({
          type: 'put',
          url: '/api/v1/website/' + websiteId,
          dataType: 'json',
          contentType: 'application/json; charset=utf-8',
          data: JSON.stringify({
            subdomain: $subdomain.val().trim()
          })
        })
      }

      function showStatus (type, message) {
        if (type === 'error') {
          $status.html(message).fadeIn().delay(3 * 1000).fadeOut()
        }
      }

      $deletePage.on('click', function (event) {
        var $this = $(event.currentTarget)
        var id = $this.data('id')
        deletePage(id).then(function () {
          window.location.reload()
        }).fail(function () {
          showPageStatus('error', id, 'Failed to delete')
        })
      })

      function deletePage (id) {
        return $.ajax({
          type: 'delete',
          url: '/api/v1/website/' + websiteId + '/page/' + id,
          dataType: 'json'
        })
      }

      function showPageStatus (type, id, message) {
        if (id) {
          if (type === 'error') {
            $('#status-' + id).html(message).fadeIn().delay(3 * 1000).fadeOut()
          }
        }
      }

      $pageItem.each(function () {
        var $this = $(this)
        var pageLabel = $this.data('pageLabel')
        $this.find('.edit-page-link').attr('href', getEditPageLink(subdomain, pageLabel))
        $this.find('.open-link').attr('href', getWebPageLink(subdomain, pageLabel))
      })

      $deleteSnippet.on('click', function (event) {
        var $this = $(event.currentTarget)
        var id = $this.data('id')
        deleteSnippet(id).then(function () {
          window.location.reload()
        }).fail(function () {
          showPageStatus('error', id, 'Failed to delete')
        })
      })

      function deleteSnippet (id) {
        return $.ajax({
          type: 'delete',
          url: '/api/v1/website/' + websiteId + '/snippet/' + id,
          dataType: 'json'
        })
      }

      function getCreatePageLink (subdomain) {
        return '/website/' + subdomain + '/page'
      }

      function getCreateSnippetLink (subdomain) {
        return '/website/' + subdomain + '/snippet'
      }

      function getEditPageLink (subdomain, pageLabel) {
        return '/website/' + subdomain + '/page/' + pageLabel
      }

      function getWebPageLink (subdomain, pageLabel) {
        return getWebsiteUrl(subdomain) + '/' + pageLabel
      }

      function getWebsiteUrl (subdomain) {
        return window.location.protocol + '//' + subdomain + '.' + window.location.host
      }

    </script>

    <style>

      body {
        font-family: Sans-serif;
        color: #383636;
      }

      .url {
        font-size: 20px;
      }

      .url-domain, .url-protocol {
        color: grey;
      }

      .url-subdomain {
        width: 120px;
        font-size: 20px;
        border: none;
        outline-style:none;
        border-bottom: 1px solid grey;
      }

      .url-subdomain:focus {
        outline-style:none;
        box-shadow: none;
      }

      .page-list li a i, .snippet-list li a i {
        font-size: 22px;
      }

    </style>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </body>

</html>