
<html>

  <head>

    <title>Websites</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>

    <h1>Websites</h1>

    <a href="/website">Create Website</a>

    <ol class="page-list">
      <% websiteDocs.forEach((website, index) => { %>
        <li>
          <a href="/website/<%= website.get('subdomain') %>"><%= website.get('subdomain') %></a> &nbsp; | &nbsp;
          <a class="website-link" target="_blank" data-subdomain="<%= website.get('subdomain') %>" title="Open"><i class="material-icons">&#xe89e;</i></a> &nbsp; | &nbsp;
          <a href="javascript:void(0)" class="delete" data-id="<%= website.get('id') %>" title="Delete"><i class="material-icons">&#xE872;</i></a> 
          <span id="status-<%= website.get('id') %>" style="color: red; display: none;"></span>
        </li>
      <% }) %>
    </ol>

    <br />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script>

      var $delete = $('.delete')

      $delete.on('click', function (event) {
        var $this = $(event.currentTarget)
        var id = $this.data('id')
        deleteWebsite(id).then(function () {
          window.location.reload()
        }).fail(function () {
          showPageStatus('error', id, 'Failed to delete')
        })
      })

      function deleteWebsite (id) {
        return $.ajax({
          type: 'delete',
          url: '/api/v1/website/' + id,
          dataType: 'json'
        })
      }

      function showPageStatus (type, id, message) {
        if (id) {
          if (type === 'error') {
            $('#status-' + id).html(message).fadeIn().delay(3 * 1000).fadeOut()
          }
        }
      }

      var $websiteAnchors = $('.website-link')

      $websiteAnchors.each(function () {
        var $this = $(this)
        var subdomain = $this.data('subdomain')
        $this.attr('href', getWebsiteUrl(subdomain))
      })

      function getWebsiteUrl (subdomain) {
        return window.location.protocol + '//' + subdomain + '.' + window.location.host
      }

    </script>

    <style>
      body {
        font-family: Sans-serif;
        color: #383636;
      }

      .page-list li a i {
        font-size: 22px;
      }

    </style>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </body>

</html>