
<html>

  <head>

    <title><%= pageDoc.get('label') %> - Edit</title>

  </head>

  <body>

    <h1>Edit Page - <%= pageDoc.get('label') %></h1>

    <div class="url">
      <span id="url-protocol" class="url-protocol"></span><span class="url-subdomain"><%= websiteDoc.get('subdomain') %></span><span id="url-domain" class="url-domain"></span><span class="grey">/</span><input id="label" class="label" placeholder="url" value="<%= pageDoc.get('label') %>"/>
    </div>

    <br />
    <br />

    <h3>Page Content:</h3>
    <textarea id="content"><%= pageDoc.get('content') %></textarea>

    <br />
    <br />

    <button id="save" style="font-size: 20px;">Save</button> &nbsp; &nbsp;

    <a href="/website/<%= websiteDoc.get('subdomain') %>">back</a>

    <div id="status" class="success" style="display: none;"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script>

      var subdomain = '<%= websiteDoc.get("subdomain") %>'
      var websiteId = '<%= websiteDoc.get("id") %>'
      var pageId = '<%= pageDoc.get("id") %>'
      var $protocol = $('#url-protocol')
      var $domain = $('#url-domain')
      var $labelInput = $('#label')
      var $contentTextarea = $('#content')
      var contentTextareaEl = $contentTextarea.get(0)
      var $saveButton = $('#save')
      var $status = $('#status')
      var $urlPrefix = $('#url-prefix')
      var editor

      $protocol.text(window.location.protocol + '//')
      $domain.text('.' + window.location.host)

      $saveButton.on('click', function (event) {
        savePage().then(function () {
          showStatus('success', 'Saved')
        }).fail(function () {
          showStatus('error', 'Failed to save page')
        })
      })

      function savePage () {
        return $.ajax({
          type: 'put',
          url: '/api/v1/website/' + websiteId + '/page/' + pageId,
          dataType: 'json',
          contentType: 'application/json; charset=utf-8',
          data: JSON.stringify({
            label: $labelInput.val(),
            content: getPageContent()
          })
        })
      }

      function showStatus (type, message) {
        $status.removeClass('success error')
        switch (type) {
          case 'success':
            $status.addClass('success')
            break
          case 'error':
            $status.addClass('error')
            break
        }
        $status.html(message).fadeIn().delay(3 * 1000).fadeOut()
      }

      function getPageContent () {
        var val = ''
        if (editor) {
          val = editor.getValue()
        } else {
          val = $contentTextarea.val()
        }
        return val
      }

    </script>

    <style>

      body {
        font-family: Sans-serif;
        color: #383636;
      }

      .url {
        font-size: 20px;
      }

      .url {
        font-size: 20px;
      }

      .url-protocol, .url-domain, .url-subdomain {
        color: grey;
      }

      .grey {
        color: grey;
      }

      .success {
        color: green;
      }

      .error {
        color: red;
      }

      .label {
        font-size: 20px;
        border: none;
        border-bottom: 1px solid grey;
      }

      .label:focus {
        outline-style:none;
        box-shadow: none;
      }

    </style>

    <!-- For code editor -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.36.0/codemirror.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.36.0/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.36.0/mode/xml/xml.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.36.0/mode/javascript/javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.36.0/mode/css/css.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.36.0/mode/htmlmixed/htmlmixed.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.36.0/addon/mode/multiplex.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.36.0/mode/htmlembedded/htmlembedded.min.js"></script>
    <script src=""></script>
    <script type="text/javascript">
      try {
        editor = CodeMirror.fromTextArea(contentTextareaEl, {
          lineNumbers: true,
          mode: 'application/x-ejs',
          indentUnit: 2,
          indentWithTabs: true
        })
        editor.setSize(undefined, 550)
      } catch (error) {
        console.error('Couldnot initialize code editor. Error:', err)
      }
    </script>

  </body>

</html>